@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}



@*<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>*@

    <body>
        @*<canvas id="canvas" width="800" height="800"></canvas>*@

        @*@foreach(var item in Model.PiSystems)
        {
            <div>
                <a href="/chart.cshtml?r=@item">@item</a>
            </div>
        }*@

    </body>



