@page
@model Piraeus.Monitor.ChartsModel
@{
    ViewData["Title"] = "charts";
}

<link href="~/bootstrap4-glyphicons/css/bootstrap-glyphicons.min.css" rel="stylesheet" type="text/css"/>
<div class="card-header" id="heading-1">
    <div>
        <span>Set # messages for cycle <input id="numMsgs" type="number" style="width: 40px" value="10"/><button onclick="setSize()">Set</button></span>
    </div>
    <span title="Go Back" id="back" class="glyphicon glyphicon-circle-arrow-left" style="float: right; padding-right: 20px;" onclick="goBack()"></span>
    <span title="Turn Charting On or Off" id="monitorAction" class="glyphicon glyphicon-play" style="float: right; padding-right: 20px;" onclick="toggleMonitor()"></span>
    <span title="Clear Chart" id="clear" class="glyphicon glyphicon-repeat" style="float: right; padding-right: 20px;" onclick="reload()"></span>
    <div class="col-lg-10">
        <canvas id="line-chart" width="800" height="400"></canvas>
        <div class="col-lg-2">
            <table width="800">
                <tr>
                    <td width="100">Message Time</td>
                    <td width="300">
                        <span id="lmt"></span>
                    </td>
                    <td width="100">Messages</td>
                    <td width="100">
                        <span id="mc"></span>
                    </td>
                    <td width="100">Bytes</td>
                    <td width="100">
                        <span id="bc"></span>
                    </td>
                </tr>
                <tr>
                    <td width="200">Error Time</td>
                    <td width="300">
                        <span id="let"></span>
                    </td>
                    <td width="100">Errors</td>
                    <td width="100">
                        <span id="ec"></span>
                    </td>
                </tr>
            </table>
        </div>
    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
<script src="~/js/signalr/dist/browser/signalr.js"></script>
<script src="~/js/moment/moment.js"></script>
<script src="~/js/monitor.js"></script>
@*<script>
        var chart = new Chart(document.getElementById("line-chart"), {
            type: 'scatter',
            data: {
                labels: [],
                datasets: [{
                    data: [],
                    label: "message/sec",
                    borderColor: "#3e95cd",
                    fill: false,
                    showLine: true
                }]
            },
            options: {
                title: {
                    display: true,
                    text: 'Throughput Chart'
                }
            }
        });

        var startTime;

        function updateData(message) {

            var telem = JSON.parse(message);

            if (startTime == null) {
                startTime = jsonObj.lastMessageTimestamp;
            }
            else {
                timeDiff = jsonObj.lastMessageTimestamp - startTime;
                timeDiff /= 1000;
                var secs = Math.round(timeDiff);
                var rate = jsonObj.MessageCount / secs;
                addData(jsonObj.lastMessageTimestamp.getTime(), rate);
            }
        }

        function addData(x1, y1) {
            chart.data.datasets[0].data.push({
                x: x1,
                y: y1
            });
            chart.update();
        }
    </script>*@